
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

.new-post header,
.posts header{
  margin-bottom:1rem;
}
.posts .post{
  margin-left:1rem;
  margin-right:1rem;

}

