.new-post{
  padding:1rem 0;
  border-bottom:1px solid #ccc;
  header{
    margin-bottom:2rem;
  }
}
.posts{
  header{
    margin-bottom:2rem;
  }
  .post{
    background-color: white;
    padding-left:1rem;
    border-left:3px solid #a21b24;
    margin-bottom:3rem;
    .info{
      font-style:italic;
    }
  }
}
.error{
  border: 1px solid red;
  background-color: #f9b5af;
  color:red;
  text-align: center;
  ul{
    list-style: none;
    margin: 0;
    padding: 0;
  }
}
.success{
  border: 1px solid green;
  background-color: #baf9c5;
  color: green;
  text-align: center;
}

